<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render App.Web.LayoutView, "head.html", conn: @conn %>
  </head>

  <body>
    <%= render "header.html", conn: @conn, view_module: @view_module %>

    <div id='content-wrapper'>
      <div id='content'>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <%= render "footer.html" %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require('js/app').App.initialize()</script>
  </body>
</html>
