<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="<%= get_csrf_token() %>">

    <title><%= t "nabookov" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render "header.html", conn: @conn, view_module: @view_module %>

    <div id='content-wrapper'>
      <div id='content'>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>

    <%= render "footer.html" %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require('js/app').App.initialize()</script>
  </body>
</html>
