<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf-token" content="<%= get_csrf_token() %>">

    <title><%= t "nabookov" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/medium-editor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/themes/default.css") %>">
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>

    <script src='<%= static_path(@conn, "/js/medium-editor.js" )%>'></script>
    <script src='<%= static_path(@conn, "/js/app.js") %>'></script>
    <script>require('js/app').App.initializeWriter()</script>
  </body>
</html>
