<% url = page_url(App.Endpoint, :index, email: @email, token: @token) %>
<div class='content'>
  Click the button below to sign in to your Nabookov Account
</div>

<div class='link'>
  <%= link to: url do %>
    Sign in to koob|feed
  <% end %>
</div>

<div class='small'>
  Or manually copy this link:
  <div class='bare-link'><%= url %></div>
</div>

<div class='footer'>
  If you did not make this request, you can ignore this email
</div>
