<%= modal "signin_ok" do %>
  <%= body "text-centered" do %>
    <%= title gettext "nabookov" %>

    <%= gettext "We sent you a link to sign in. Check your email inbox." %>
  <% end %>

  <%= footer do %>
    <div class='link' data-dismiss='modal'>
      <%= gettext "Dismiss" %>
    </div>
  <% end %>
<% end %>
