<%= modal "signin" do %>
  <%= body do %>
    <%= title t "Sign in to Your Account" %>

    <label><%= t "Email Address" %></label>
    <%= text_input :user, :email, class: "form-control", placeholder: "yourname@example.com", autofocus: true %>
  <% end %>

  <%= footer do %>
    <div id='signin-submit' class='link'>
      <%= t "Send me a link to sign in" %>
    </div>
  <% end %>
<% end %>
