<%= modal "signin_ok" do %>
  <div class='modal-body text-centered'>
    <%= modal_title gettext "nabookov" %>

    <%= gettext "We sent you a link to sign in. Check your email inbox." %>
  </div>

  <div class='modal-footer'>
    <div class='link' data-dismiss='modal'>
      <%= gettext "Dismiss" %>
    </div>
  </div>
<% end %>
