@import "variables";

$width:  150px;
$height: 220px;

.bookshelf {
  .book,
  .new-book {
    display: block;
    position: relative;
    width: $width;
    height: $height;
    background: white;
    border-radius: 3px;
    padding: 32px 16px;
    margin: 16px auto 4px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.075);
    transition: all 0.4s;

    &.cover-blue { background-color: $book-cover-blue;
                   color: $book-white-text; }

    &.small-title {
      font-size: 10px;
    }

    .edit-details {
      position: absolute;
      bottom: 0;
      right: 16px;
      padding: 4px;
      margin-top: -4px;
      margin-right: -10px;
      font-size: 16px !important;
      opacity: 0;
      transition: opacity 0.3s;

      &:hover {
        color: $main-text;
      }
    }

    .title {
      font-weight: bold;
      word-wrap: break-word;
    }

    &:hover {
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);

      .edit-details {
        opacity: 1;
      }
    }
  }

  .new-book {
    background: none !important;
    border: 3px dashed $pale-text;
    color: $sub-text !important;
    padding: 82px 0;

    &:hover {
      color: $main-text !important;
      border-color: $sub-text;
      box-shadow: none !important;
    }
  }

  .info {
    font-size: 12px;
    width: $width;
    margin: 0 auto;
  }
}
