@import "variables";

a {
  text-decoration: none !important;
}

.text-centered {
  text-align: center;
}

.text-normal {
  font-size: 16px;
  font-weight: normal;
}

.text-small {
  font-size: 12px;
}

.link {
  color: $link;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: $link-hover;
  }
}

.link-btn {
  color: white;
  background: $link;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    background: $link-hover;
  }
}

.clearfix {
  clear: both;
}
