@import "variables";

html, body {
  height: 100%;
}

body {
  background: $body-background;
  min-height: 100vh;
}


.text-centered {
  text-align: center;
}

.text-small {
  font-size: 12px;
}

.link {
  color: $link;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    color: $link-hover;
  }
}

.link-btn {
  color: white;
  background: $link;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none !important;
  cursor: pointer;

  &:hover {
    background: $link-hover;
  }
}

.clearfix {
  clear: both;
}
