@import "variables";

#signin {
  form {
    padding: 15px 5px;
  }
}

#manage_chapters {
  .chapter {
    margin-bottom: 16px;

    .top {
      border-bottom: 1px solid $writer-sidebar-highlight;
    }

    .count {
      margin-right: 8px;
    }
  }
}


.modal-content {
  border-radius: 4px;
  box-shadow: none !important;
  border: none !important;
}

.modal-title {
  margin-bottom: 16px;
  text-align: center !important;
}

.modal label {
  font-weight: normal;
  margin-left: 12px;
  margin-right: 12px;

  .optional {
    color: $sub-text;
  }
}

.modal-body .illustration {
  text-align: center;
  font-size: 2em;
  margin-top: 12px;
}

.modal-body {
  padding: 30px;
}

.modal-footer {
  padding: 0;
  text-align: center !important;

  .link {
    padding: 15px;

    &:hover {
      background: #fafafa;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
