$hr: #eee;

$body-background: #fafbfd;
$background: white;

$link: #08a;
$link-hover: #067;
$graylink: #aaa;
$graylink-hover: #777;

$black-text: #333;
$main-text: #404852;
$sub-text: #666d75;
$pale-text: #a0a3a8;


$book-white-text: white;
$book-black-text: $main-text;

$book-cover-blue: #49f;

$book-spine: #444;
$book-spine-hover: #333;
$book-border: #eee;
$book-border-hover: #0ad;

$book-border-hover: black;

$new-book-border: #a0a3a8;

$writer-background: white;

$writer-sidebar-width: 300px;
$writer-sidebar-background: #f0f0f0;
$writer-sidebar-highlight: #d5d5d5;
$writer-sidebar-color: #ddd;
