@import "variables";

#sidebar {
  position: fixed;
  top: 0;
  left: -$editor-sidebar-width;
  right: 0;
  bottom: 0;
  width: $editor-sidebar-width;
  padding-top: 64px;
  color: $editor-sidebar-color;
  background: $editor-sidebar-background;
  overflow-x: hidden;
  transition: 0.2s;

  .chapter-list-header,
  .set-chapter {
    padding: 12px 16px;
  }

  .set-chapter {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: $editor-sidebar-highlight;
    }

    &.current {
      color: $editor-sidebar-background;
      background: $editor-sidebar-color;
    }
  }
}

#editor {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 700px;
  min-height: 100vh;
  padding: 20vh 8px;
  margin: 0 auto;
  overflow-x: hidden;
  transition: 0.2s;

  #title,
  #draft {
    color: $main-text;
    width: 100%;
    border: none;
    outline: none;
    cursor: text;

    &:after {
      font-style: normal;
      cursor: text;
      transition: opacity 0.2s;
    }

    &:hover {
      &:after {
        opacity: 0.5;
      }
    }
  }

  #title {
    font-size: 2.5rem;
    margin-bottom: 32px;
  }

  #draft {
    resize: none;

    p {
      margin-bottom: 0.5rem;
    }
  }
}

#write.show-sidebar {
  #sidebar { left: 0; }
  #editor { left: $editor-sidebar-width; }
}

#sidebar-toggle {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 12px;
  color: #e0e0e0;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $pale-text;
  }
}
