@import "variables";

#sidebar {
  position: fixed;
  top: 0;
  left: -$writer-sidebar-width;
  right: 0;
  bottom: 0;
  width: $writer-sidebar-width;
  padding-top: 32px;
  color: $main-text;
  background: $writer-sidebar-background;
  font-size: 14px;
  overflow-x: hidden;
  transition: 0.2s;

  .write-options {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;

    #cancel,
    #submit {
      display: inline-block;
      height: 40px;
      padding: 8px 12px;
    }
  }

  .chapter-list-header,
  .set-chapter,
  #new-chapter {
    position: relative;
    padding: 14px 16px 14px 32px;
    height: 48px;
  }

  #new-chapter {
    cursor: pointer;

    &:hover {
      background: $writer-sidebar-highlight;
    }
  }

  .chapter-list {
    position: absolute;
    top: 128px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: overlay;
  }


  .icon {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 11px;
    opacity: 0.4;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  .title {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
  }

  .set-chapter {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;

    .remove {
      position: absolute;
      right: 4px;
      width: 24px;
      color: $pale-text;
      opacity: 0;
      transition: 0.2s;

      i {
        padding: 4px;
      }

      &:hover {
        color: $sub-text;
      }
    }

    &:hover {
      background: $writer-sidebar-highlight;

      .visible,
      .locked,
      .remove {
        opacity: 1;
      }
    }

    &.current {
      background: $writer-sidebar-highlight;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4px;
        background: $link;
      }
    }
  }
}

#editor {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 700px;
  min-height: 100vh;
  background: $writer-background;
  padding: 20vh 8px;
  margin: 0 auto;
  overflow-x: hidden;
  transition: 0.2s;

  &.font-classic {
    font-family: Merriweather, serif;
  }

  &.font-modern {
    font-family: Roboto, sans-serif;
  }

  &.font-mono {
    font-family: PT Mono, monospace;
  }

  #title,
  #draft {
    color: $main-text;
    width: 100%;
    border: none;
    outline: none;
    cursor: text;

    &:after {
      font-style: normal;
      cursor: text;
      transition: opacity 0.2s;
    }

    &:hover {
      &:after {
        opacity: 0.5;
      }
    }
  }

  #title {
    font-size: 2.5rem;
    margin-bottom: 32px;
  }

  #draft {
    resize: none;

    p {
      margin-bottom: 0.5rem;
    }
  }
}

#write.show-sidebar {
  #sidebar { left: 0; }
  #editor { left: $writer-sidebar-width; }
}

#sidebar-toggle {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px 12px;
  color: #e0e0e0;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $pale-text;
  }
}
