<%= render App.Web.ModalView, "new_book.html" %>
<%= render App.Web.ModalView, "edit_book.html" %>

<div class='my-books-header text-centered'>
  <h2><%= t "My Books" %></h2>
</div>

<br>

<%= render App.Web.SharedView, "bookshelf.html",
             conn: @conn,
             user: @current_user,
             books: @books,
             edit: true %>
