<%= render App.Web.ModalView, "new_book.html" %>
<%= render App.Web.ModalView, "edit_book.html" %>

<div class='my-books-header text-centered'>
  <%= gettext "My Books" %>
</div>

<br>

<%= render App.Web.SharedView, "bookshelf.html",
             user: @current_user,
             books: @books,
             edit: true %>
