<%= render App.ModalView, "new_book.html" %>

<div class='float-right'>
  <span class='link-btn'
        data-toggle='modal'
        data-target='#new_book'>
    <%= fa_icon "plus" %>
    <%= gettext "New Book" %>
  </span>
</div>

<div class='clearfix'></div>

<br>

<%= render App.SharedView, "bookshelf.html", assigns %>
